.card-text-energy {
  text-align: start;
  margin-top: 5px;
}

.energy {
  color: rgb(194, 194, 2);
}

.power-plant {
  width: 75px;
  height: auto;
}

.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coins {
  width: 25px;
  height: auto;
  color: green;
}
