.building-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid black;
  width: 100%;
  padding: 0 10px 5px;
}

.building-title {
  margin-top: 0;
  text-decoration: underline 2px;
}

.population {
  color: green;
}

.price {
  color: green;
  text-decoration: underline;
  padding-left: 25px;
}

.building {
  width: 70px;
  height: auto;
  margin-right: 5px;
}

.right-side-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: -80px;
}

.info-icon {
  width: 25px;
  cursor: help;
}
